.standard-tile {
    background: #cfc0c0;
    box-shadow: 8px 8px grey;
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 15px 0 15px 15px;
}

.wall-tile {
    background: #322e2e;
    box-shadow: 8px 8px grey;
    border: 1px solid transparent;
    border-radius: 15px;
}

.portal-tile {
    border-radius: 50%;
    width: 80%;
    margin: auto;
    background: radial-gradient(circle farthest-side at center, rgba(155, 214, 238, 1) 50%, rgba(155, 214, 238, 0.5) 100%);

    box-shadow: var(--soft-box-shadow);

    animation: fade 2500ms infinite;
    -webkit-animation: fade 2500ms infinite;
}

.full-size {
    width: 100%;
    height: 100%;
}

@keyframes fade {
    from, to {
        opacity: 1.0;
        transform: translateY(2px);
    }
    50% {
        opacity: 0.7;
        transform: translateY(-2px);
    }
}