@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(20, 30, 40, 1);
    margin: 0;
}

:root {
    --pixel-size: 2;
}

.frame {
    box-sizing: border-box;
    border: 1px solid red;
    width: 100vh;
    height: 100vh;
    margin: auto;
}

@media (orientation: portrait) {
    .frame {
        width: 100vw;
        height: 100vw;
        margin-top: calc(50vh - 50vw);
    }
}

.camera {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.map {
    position: relative;
}

.map .row {
    display: flex;
}


.character {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.character-spritesheet {
    width: calc(128px * var(--pixel-size));
    position: absolute;
}

.character-spritesheet .walking {
    animation: move-spritesheet 0.6s steps(4) infinite;
}

@keyframes move-spritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}

.face-right {
    top: calc(-32px * var(--pixel-size));
}

.face-up {
    top: calc(-64px * var(--pixel-size));
}

.face-left {
    top: calc(-96px * var(--pixel-size));
}

audio {
    border: none;
    outline: none;
}

.audio-container {
    position: absolute;
    top: 10px;
    right: 20px;
}